.quantitySelectorContainer--quantity{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.quantitySelectorTitle--quantity{
    color:black;
    font-size: 16px;
}

@media(max-width:1024px){
    .quantitySelectorContainer--quantity{
        width: 70% !important
    }
}