
.buttonText--buy-button::before{
    content: url(/arquivos/cart.png);
    position: relative;
    top: 3px;
    width: 10px;
    right: 7px;
}

.buttonText--buy-button{
    padding:4px;
    line-height: 20px;
}